extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

        //- Use the info in your data file and the comments below to complete this template

        //- Use interpolation to dynamically add the project title
        h1= `${project.project_name}`

        //- Use interpolation to dynamically add the project description
        p= `${project.description}`

      .project-tech-links-box.box
        h6= `${project.technologies}`
        ul
          each technology in project.technologies
            li= technology
            
        a.btn-link(href=`${live_link}`) Live Demo
        a.btn-link(href=`${github_link}`) GitHub Repo

    .project-img-box.box
      img.project-img(src=`${project.image_link[0]}`, alt='')
      img.project-img(src=`${project.image_link[1]}`, alt='')


    nav.nav
      a(href='/')
        span &larr;
        |  Back
