extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= `${projects.project_name}`
        p= `${projects.description}`

      .project-tech-links-box.box
        h6= `${projects.technologies}`
        ul
          each technology in `${projects.technologies}`
            li= technology
            
        a.btn-link(href=`${live_link}`) Live Demo
        a.btn-link(href=`${github_link}`) GitHub Repo

    .project-img-box.box
      img.project-img(src=`#{projects.image_url[0]}`, alt=`${projects.project_name}`)
      img.project-img(src=`#{projects.image_url[1]}`, alt=`${projects.project_name}`)


    nav.nav
      a(href='/')
        span &larr;
        |  Back
